USE [master]
GO
/****** Object:  Database [ReportingPOC]    Script Date: 5/13/2026 1:45:29 AM ******/
CREATE DATABASE [ReportingPOC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReportingPOC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ReportingPOC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReportingPOC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ReportingPOC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReportingPOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReportingPOC]
GO
/****** Object:  Schema [clinical]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE SCHEMA [clinical]
GO
/****** Object:  Schema [rpt]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE SCHEMA [rpt]
GO
/****** Object:  Table [clinical].[ClinicalStudies]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[ClinicalStudies](
	[StudyId] [int] IDENTITY(1,1) NOT NULL,
	[StudyCode] [nvarchar](50) NOT NULL,
	[StudyName] [nvarchar](255) NOT NULL,
	[SponsorName] [nvarchar](255) NOT NULL,
	[Phase] [nvarchar](20) NOT NULL,
	[TherapeuticArea] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[LabResults]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[LabResults](
	[LabResultId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[LabTestCode] [nvarchar](50) NOT NULL,
	[LabTestName] [nvarchar](255) NOT NULL,
	[ResultValue] [decimal](10, 2) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[ReferenceLow] [decimal](10, 2) NULL,
	[ReferenceHigh] [decimal](10, 2) NULL,
	[IsAbnormal] [bit] NOT NULL,
	[CollectedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LabResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[Patients]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[StudyId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[PatientCode] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
	[PatientStatus] [nvarchar](50) NOT NULL,
	[IsScreenFailed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[StudySites]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[StudySites](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[StudyId] [int] NOT NULL,
	[SiteCode] [nvarchar](50) NOT NULL,
	[SiteName] [nvarchar](255) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[InvestigatorName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[Visits]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Visits](
	[VisitId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[VisitName] [nvarchar](100) NOT NULL,
	[VisitDate] [date] NOT NULL,
	[VisitType] [nvarchar](50) NOT NULL,
	[WeightKg] [decimal](6, 2) NULL,
	[SystolicBP] [int] NULL,
	[DiastolicBP] [int] NULL,
	[IsCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[ReportingEntities]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[ReportingEntities](
	[EntityId] [int] IDENTITY(1,1) NOT NULL,
	[EntityKey] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[EntityName] [nvarchar](255) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[IsScopeEntity] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ReportingEntities] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[ReportingEntityVisibilityConfig]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[ReportingEntityVisibilityConfig](
	[VisibilityConfigId] [int] IDENTITY(1,1) NOT NULL,
	[DataTypeId] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
	[SectionId] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ReportingEntityVisibilityConfig] PRIMARY KEY CLUSTERED 
(
	[VisibilityConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[ReportingFields]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[ReportingFields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[FieldKey] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[FieldRole] [nvarchar](50) NOT NULL,
	[IsSystemFilter] [bit] NOT NULL,
	[IsFilterable] [bit] NOT NULL,
	[IsGroupable] [bit] NOT NULL,
	[IsSensitive] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsPossibleForHeader_Footer] [bit] NOT NULL,
	[IsIdentifier] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ReportingFields] PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[ReportingFunctions]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[ReportingFunctions](
	[FunctionId] [int] IDENTITY(1,1) NOT NULL,
	[FunctionKey] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ReportingFunctions] PRIMARY KEY CLUSTERED 
(
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[ReportingRelationships]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[ReportingRelationships](
	[RelationshipId] [int] IDENTITY(1,1) NOT NULL,
	[ParentEntityId] [int] NOT NULL,
	[ParentFieldId] [int] NOT NULL,
	[ChildEntityId] [int] NOT NULL,
	[ChildFieldId] [int] NOT NULL,
	[JoinType] [nvarchar](20) NOT NULL,
	[Cardinality] [nvarchar](20) NOT NULL,
	[Direction] [nvarchar](20) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ReportingRelationships] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[ReportingSections]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[ReportingSections](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[SectionKey] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ReportingSections] PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rpt].[SystemColumn]    Script Date: 5/13/2026 1:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rpt].[SystemColumn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemColumnKey] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_SystemColumn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [clinical].[ClinicalStudies] ON 

INSERT [clinical].[ClinicalStudies] ([StudyId], [StudyCode], [StudyName], [SponsorName], [Phase], [TherapeuticArea], [StartDate], [EndDate], [IsActive], [CreatedAt]) VALUES (1, N'ST-ONC-001', N'Oncology Safety Study', N'MedNova', N'Phase II', N'Oncology', CAST(N'2024-01-15' AS Date), CAST(N'2025-12-31' AS Date), 1, CAST(N'2026-05-12T13:18:09.7850000' AS DateTime2))
INSERT [clinical].[ClinicalStudies] ([StudyId], [StudyCode], [StudyName], [SponsorName], [Phase], [TherapeuticArea], [StartDate], [EndDate], [IsActive], [CreatedAt]) VALUES (2, N'ST-CARD-002', N'Cardiology Outcome Study', N'BioCore', N'Phase III', N'Cardiology', CAST(N'2023-06-01' AS Date), NULL, 1, CAST(N'2026-05-12T13:18:09.7850000' AS DateTime2))
INSERT [clinical].[ClinicalStudies] ([StudyId], [StudyCode], [StudyName], [SponsorName], [Phase], [TherapeuticArea], [StartDate], [EndDate], [IsActive], [CreatedAt]) VALUES (3, N'ST-DIA-003', N'Diabetes Control Study', N'HealthGen', N'Phase II', N'Endocrinology', CAST(N'2024-03-10' AS Date), NULL, 1, CAST(N'2026-05-12T13:18:09.7850000' AS DateTime2))
SET IDENTITY_INSERT [clinical].[ClinicalStudies] OFF
GO
SET IDENTITY_INSERT [clinical].[LabResults] ON 

INSERT [clinical].[LabResults] ([LabResultId], [PatientId], [LabTestCode], [LabTestName], [ResultValue], [Unit], [ReferenceLow], [ReferenceHigh], [IsAbnormal], [CollectedAt]) VALUES (1, 1, N'ALT', N'Alanine Aminotransferase', CAST(35.00 AS Decimal(10, 2)), N'U/L', CAST(7.00 AS Decimal(10, 2)), CAST(56.00 AS Decimal(10, 2)), 0, CAST(N'2024-02-01T09:15:00.0000000' AS DateTime2))
INSERT [clinical].[LabResults] ([LabResultId], [PatientId], [LabTestCode], [LabTestName], [ResultValue], [Unit], [ReferenceLow], [ReferenceHigh], [IsAbnormal], [CollectedAt]) VALUES (2, 1, N'AST', N'Aspartate Aminotransferase', CAST(61.00 AS Decimal(10, 2)), N'U/L', CAST(10.00 AS Decimal(10, 2)), CAST(40.00 AS Decimal(10, 2)), 1, CAST(N'2024-03-01T09:20:00.0000000' AS DateTime2))
INSERT [clinical].[LabResults] ([LabResultId], [PatientId], [LabTestCode], [LabTestName], [ResultValue], [Unit], [ReferenceLow], [ReferenceHigh], [IsAbnormal], [CollectedAt]) VALUES (3, 2, N'HGB', N'Hemoglobin', CAST(13.20 AS Decimal(10, 2)), N'g/dL', CAST(12.00 AS Decimal(10, 2)), CAST(16.00 AS Decimal(10, 2)), 0, CAST(N'2024-02-05T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [clinical].[LabResults] OFF
GO
SET IDENTITY_INSERT [clinical].[Patients] ON 

INSERT [clinical].[Patients] ([PatientId], [StudyId], [SiteId], [PatientCode], [Gender], [BirthDate], [EnrollmentDate], [PatientStatus], [IsScreenFailed]) VALUES (1, 1, 1, N'P-ONC-0001', N'Male', CAST(N'1985-04-12' AS Date), CAST(N'2024-02-01' AS Date), N'Enrolled', 0)
INSERT [clinical].[Patients] ([PatientId], [StudyId], [SiteId], [PatientCode], [Gender], [BirthDate], [EnrollmentDate], [PatientStatus], [IsScreenFailed]) VALUES (2, 1, 1, N'P-ONC-0002', N'Female', CAST(N'1992-08-21' AS Date), CAST(N'2024-02-05' AS Date), N'Completed', 0)
INSERT [clinical].[Patients] ([PatientId], [StudyId], [SiteId], [PatientCode], [Gender], [BirthDate], [EnrollmentDate], [PatientStatus], [IsScreenFailed]) VALUES (3, 1, 2, N'P-ONC-0003', N'Male', CAST(N'1978-11-02' AS Date), CAST(N'2024-02-11' AS Date), N'Withdrawn', 0)
SET IDENTITY_INSERT [clinical].[Patients] OFF
GO
SET IDENTITY_INSERT [clinical].[StudySites] ON 

INSERT [clinical].[StudySites] ([SiteId], [StudyId], [SiteCode], [SiteName], [Country], [City], [InvestigatorName], [IsActive]) VALUES (1, 1, N'VN-HCM-001', N'HCMC Central Hospital', N'Vietnam', N'Ho Chi Minh City', N'Dr. Nguyen An', 1)
INSERT [clinical].[StudySites] ([SiteId], [StudyId], [SiteCode], [SiteName], [Country], [City], [InvestigatorName], [IsActive]) VALUES (2, 1, N'VN-HN-002', N'Hanoi Medical Center', N'Vietnam', N'Hanoi', N'Dr. Tran Binh', 1)
INSERT [clinical].[StudySites] ([SiteId], [StudyId], [SiteCode], [SiteName], [Country], [City], [InvestigatorName], [IsActive]) VALUES (3, 2, N'SG-SIN-001', N'Singapore Heart Institute', N'Singapore', N'Singapore', N'Dr. Lim Wei', 1)
SET IDENTITY_INSERT [clinical].[StudySites] OFF
GO
SET IDENTITY_INSERT [clinical].[Visits] ON 

INSERT [clinical].[Visits] ([VisitId], [PatientId], [VisitName], [VisitDate], [VisitType], [WeightKg], [SystolicBP], [DiastolicBP], [IsCompleted]) VALUES (1, 1, N'Screening', CAST(N'2024-02-01' AS Date), N'Screening', CAST(72.50 AS Decimal(6, 2)), 122, 80, 1)
INSERT [clinical].[Visits] ([VisitId], [PatientId], [VisitName], [VisitDate], [VisitType], [WeightKg], [SystolicBP], [DiastolicBP], [IsCompleted]) VALUES (2, 1, N'Week 4', CAST(N'2024-03-01' AS Date), N'Treatment', CAST(71.80 AS Decimal(6, 2)), 118, 78, 1)
INSERT [clinical].[Visits] ([VisitId], [PatientId], [VisitName], [VisitDate], [VisitType], [WeightKg], [SystolicBP], [DiastolicBP], [IsCompleted]) VALUES (3, 2, N'Screening', CAST(N'2024-02-05' AS Date), N'Screening', CAST(58.20 AS Decimal(6, 2)), 110, 72, 1)
SET IDENTITY_INSERT [clinical].[Visits] OFF
GO
SET IDENTITY_INSERT [rpt].[ReportingEntities] ON 

INSERT [rpt].[ReportingEntities] ([EntityId], [EntityKey], [DisplayName], [EntityName], [EntityType], [IsScopeEntity], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'clinical_study', N'Clinical Study', N'clinical.ClinicalStudies', N'DIMENSION', 1, 1, CAST(N'2026-05-12T13:20:29.8380000' AS DateTime2), N'system', NULL, NULL)
INSERT [rpt].[ReportingEntities] ([EntityId], [EntityKey], [DisplayName], [EntityName], [EntityType], [IsScopeEntity], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'study_site', N'Study Site', N'clinical.StudySites', N'DIMENSION', 0, 1, CAST(N'2026-05-12T13:20:29.8380000' AS DateTime2), N'system', NULL, NULL)
INSERT [rpt].[ReportingEntities] ([EntityId], [EntityKey], [DisplayName], [EntityName], [EntityType], [IsScopeEntity], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'patient', N'Patient', N'clinical.Patients', N'FACT', 1, 1, CAST(N'2026-05-12T13:20:29.8380000' AS DateTime2), N'system', NULL, NULL)
SET IDENTITY_INSERT [rpt].[ReportingEntities] OFF
GO
SET IDENTITY_INSERT [rpt].[ReportingFields] ON 

INSERT [rpt].[ReportingFields] ([FieldId], [EntityId], [FieldKey], [DisplayName], [DataType], [FieldRole], [IsSystemFilter], [IsFilterable], [IsGroupable], [IsSensitive], [IsActive], [IsDefault], [IsPossibleForHeader_Footer], [IsIdentifier], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'study_id', N'Study ID', N'INT', N'IDENTIFIER', 0, 0, 0, 0, 1, 0, 0, 1, CAST(N'2026-05-12T13:20:29.9050000' AS DateTime2), N'system', NULL, NULL)
INSERT [rpt].[ReportingFields] ([FieldId], [EntityId], [FieldKey], [DisplayName], [DataType], [FieldRole], [IsSystemFilter], [IsFilterable], [IsGroupable], [IsSensitive], [IsActive], [IsDefault], [IsPossibleForHeader_Footer], [IsIdentifier], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'study_code', N'Study Code', N'NVARCHAR', N'DIMENSION', 0, 1, 1, 0, 1, 1, 1, 0, CAST(N'2026-05-12T13:20:29.9050000' AS DateTime2), N'system', NULL, NULL)
INSERT [rpt].[ReportingFields] ([FieldId], [EntityId], [FieldKey], [DisplayName], [DataType], [FieldRole], [IsSystemFilter], [IsFilterable], [IsGroupable], [IsSensitive], [IsActive], [IsDefault], [IsPossibleForHeader_Footer], [IsIdentifier], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, N'study_name', N'Study Name', N'NVARCHAR', N'DIMENSION', 0, 1, 1, 0, 1, 1, 1, 0, CAST(N'2026-05-12T13:20:29.9050000' AS DateTime2), N'system', NULL, NULL)
SET IDENTITY_INSERT [rpt].[ReportingFields] OFF
GO
SET IDENTITY_INSERT [rpt].[ReportingRelationships] ON 

INSERT [rpt].[ReportingRelationships] ([RelationshipId], [ParentEntityId], [ParentFieldId], [ChildEntityId], [ChildFieldId], [JoinType], [Cardinality], [Direction], [IsRequired], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, 1, 2, 11, N'INNER', N'ONE_TO_MANY', N'SINGLE', 1, 1, CAST(N'2026-05-12T13:20:29.9710000' AS DateTime2), N'system', NULL, NULL)
INSERT [rpt].[ReportingRelationships] ([RelationshipId], [ParentEntityId], [ParentFieldId], [ChildEntityId], [ChildFieldId], [JoinType], [Cardinality], [Direction], [IsRequired], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, 1, 3, 19, N'INNER', N'ONE_TO_MANY', N'SINGLE', 1, 1, CAST(N'2026-05-12T13:20:29.9710000' AS DateTime2), N'system', NULL, NULL)
INSERT [rpt].[ReportingRelationships] ([RelationshipId], [ParentEntityId], [ParentFieldId], [ChildEntityId], [ChildFieldId], [JoinType], [Cardinality], [Direction], [IsRequired], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 2, 10, 3, 20, N'INNER', N'ONE_TO_MANY', N'SINGLE', 1, 1, CAST(N'2026-05-12T13:20:29.9710000' AS DateTime2), N'system', NULL, NULL)
SET IDENTITY_INSERT [rpt].[ReportingRelationships] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clinical__E96441EAD6E23164]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [clinical].[ClinicalStudies] ADD UNIQUE NONCLUSTERED 
(
	[StudyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__B9C66DFE3D5E7C38]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [clinical].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[PatientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingEntities_EntityKey]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[ReportingEntities] ADD  CONSTRAINT [UQ_ReportingEntities_EntityKey] UNIQUE NONCLUSTERED 
(
	[EntityKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReportingEntities_EntityType]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntities_EntityType] ON [rpt].[ReportingEntities]
(
	[EntityType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingEntities_IsActive]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntities_IsActive] ON [rpt].[ReportingEntities]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ReportingEntityVisibilityConfig_DataType_Entity_Section]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig] ADD  CONSTRAINT [UQ_ReportingEntityVisibilityConfig_DataType_Entity_Section] UNIQUE NONCLUSTERED 
(
	[DataTypeId] ASC,
	[EntityId] ASC,
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingEntityVisibilityConfig_DataTypeId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntityVisibilityConfig_DataTypeId] ON [rpt].[ReportingEntityVisibilityConfig]
(
	[DataTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingEntityVisibilityConfig_EntityId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntityVisibilityConfig_EntityId] ON [rpt].[ReportingEntityVisibilityConfig]
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingEntityVisibilityConfig_IsVisible]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntityVisibilityConfig_IsVisible] ON [rpt].[ReportingEntityVisibilityConfig]
(
	[IsVisible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingEntityVisibilityConfig_SectionId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingEntityVisibilityConfig_SectionId] ON [rpt].[ReportingEntityVisibilityConfig]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingFields_EntityId_FieldKey]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [UQ_ReportingFields_EntityId_FieldKey] UNIQUE NONCLUSTERED 
(
	[EntityId] ASC,
	[FieldKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingFields_EntityId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_EntityId] ON [rpt].[ReportingFields]
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReportingFields_FieldKey]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_FieldKey] ON [rpt].[ReportingFields]
(
	[FieldKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReportingFields_FieldRole]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_FieldRole] ON [rpt].[ReportingFields]
(
	[FieldRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingFields_IsActive]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_IsActive] ON [rpt].[ReportingFields]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingFields_IsFilterable]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_IsFilterable] ON [rpt].[ReportingFields]
(
	[IsFilterable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingFields_IsGroupable]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFields_IsGroupable] ON [rpt].[ReportingFields]
(
	[IsGroupable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingFunctions_FunctionKey]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[ReportingFunctions] ADD  CONSTRAINT [UQ_ReportingFunctions_FunctionKey] UNIQUE NONCLUSTERED 
(
	[FunctionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingFunctions_IsActive]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingFunctions_IsActive] ON [rpt].[ReportingFunctions]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ReportingRelationships_Relation]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[ReportingRelationships] ADD  CONSTRAINT [UQ_ReportingRelationships_Relation] UNIQUE NONCLUSTERED 
(
	[ParentEntityId] ASC,
	[ParentFieldId] ASC,
	[ChildEntityId] ASC,
	[ChildFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_ChildEntityId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_ChildEntityId] ON [rpt].[ReportingRelationships]
(
	[ChildEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_ChildFieldId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_ChildFieldId] ON [rpt].[ReportingRelationships]
(
	[ChildFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_IsActive]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_IsActive] ON [rpt].[ReportingRelationships]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_ParentEntityId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_ParentEntityId] ON [rpt].[ReportingRelationships]
(
	[ParentEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingRelationships_ParentFieldId]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingRelationships_ParentFieldId] ON [rpt].[ReportingRelationships]
(
	[ParentFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ReportingSections_SectionKey]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[ReportingSections] ADD  CONSTRAINT [UQ_ReportingSections_SectionKey] UNIQUE NONCLUSTERED 
(
	[SectionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportingSections_IsActive]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ReportingSections_IsActive] ON [rpt].[ReportingSections]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SystemColumn_SystemColumnKey]    Script Date: 5/13/2026 1:45:30 AM ******/
ALTER TABLE [rpt].[SystemColumn] ADD  CONSTRAINT [UQ_SystemColumn_SystemColumnKey] UNIQUE NONCLUSTERED 
(
	[SystemColumnKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemColumn_IsActive]    Script Date: 5/13/2026 1:45:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_SystemColumn_IsActive] ON [rpt].[SystemColumn]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [clinical].[ClinicalStudies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [clinical].[ClinicalStudies] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [clinical].[Patients] ADD  DEFAULT ((0)) FOR [IsScreenFailed]
GO
ALTER TABLE [clinical].[StudySites] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [clinical].[Visits] ADD  DEFAULT ((1)) FOR [IsCompleted]
GO
ALTER TABLE [rpt].[ReportingEntities] ADD  CONSTRAINT [DF_ReportingEntities_IsScopeEntity]  DEFAULT ((0)) FOR [IsScopeEntity]
GO
ALTER TABLE [rpt].[ReportingEntities] ADD  CONSTRAINT [DF_ReportingEntities_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rpt].[ReportingEntities] ADD  CONSTRAINT [DF_ReportingEntities_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig] ADD  CONSTRAINT [DF_ReportingEntityVisibilityConfig_IsVisible]  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig] ADD  CONSTRAINT [DF_ReportingEntityVisibilityConfig_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsSystemFilter]  DEFAULT ((0)) FOR [IsSystemFilter]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsFilterable]  DEFAULT ((1)) FOR [IsFilterable]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsGroupable]  DEFAULT ((1)) FOR [IsGroupable]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsSensitive]  DEFAULT ((0)) FOR [IsSensitive]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsPossibleForHeaderFooter]  DEFAULT ((0)) FOR [IsPossibleForHeader_Footer]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_IsIdentifier]  DEFAULT ((0)) FOR [IsIdentifier]
GO
ALTER TABLE [rpt].[ReportingFields] ADD  CONSTRAINT [DF_ReportingFields_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rpt].[ReportingFunctions] ADD  CONSTRAINT [DF_ReportingFunctions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rpt].[ReportingFunctions] ADD  CONSTRAINT [DF_ReportingFunctions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rpt].[ReportingRelationships] ADD  CONSTRAINT [DF_ReportingRelationships_IsRequired]  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [rpt].[ReportingRelationships] ADD  CONSTRAINT [DF_ReportingRelationships_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rpt].[ReportingRelationships] ADD  CONSTRAINT [DF_ReportingRelationships_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rpt].[ReportingSections] ADD  CONSTRAINT [DF_ReportingSections_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rpt].[ReportingSections] ADD  CONSTRAINT [DF_ReportingSections_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rpt].[SystemColumn] ADD  CONSTRAINT [DF_SystemColumn_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rpt].[SystemColumn] ADD  CONSTRAINT [DF_SystemColumn_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [clinical].[LabResults]  WITH CHECK ADD  CONSTRAINT [FK_LabResults_Patients] FOREIGN KEY([PatientId])
REFERENCES [clinical].[Patients] ([PatientId])
GO
ALTER TABLE [clinical].[LabResults] CHECK CONSTRAINT [FK_LabResults_Patients]
GO
ALTER TABLE [clinical].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_ClinicalStudies] FOREIGN KEY([StudyId])
REFERENCES [clinical].[ClinicalStudies] ([StudyId])
GO
ALTER TABLE [clinical].[Patients] CHECK CONSTRAINT [FK_Patients_ClinicalStudies]
GO
ALTER TABLE [clinical].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_StudySites] FOREIGN KEY([SiteId])
REFERENCES [clinical].[StudySites] ([SiteId])
GO
ALTER TABLE [clinical].[Patients] CHECK CONSTRAINT [FK_Patients_StudySites]
GO
ALTER TABLE [clinical].[StudySites]  WITH CHECK ADD  CONSTRAINT [FK_StudySites_ClinicalStudies] FOREIGN KEY([StudyId])
REFERENCES [clinical].[ClinicalStudies] ([StudyId])
GO
ALTER TABLE [clinical].[StudySites] CHECK CONSTRAINT [FK_StudySites_ClinicalStudies]
GO
ALTER TABLE [clinical].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Patients] FOREIGN KEY([PatientId])
REFERENCES [clinical].[Patients] ([PatientId])
GO
ALTER TABLE [clinical].[Visits] CHECK CONSTRAINT [FK_Visits_Patients]
GO
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig]  WITH CHECK ADD  CONSTRAINT [FK_ReportingEntityVisibilityConfig_Entity] FOREIGN KEY([EntityId])
REFERENCES [rpt].[ReportingEntities] ([EntityId])
GO
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig] CHECK CONSTRAINT [FK_ReportingEntityVisibilityConfig_Entity]
GO
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig]  WITH CHECK ADD  CONSTRAINT [FK_ReportingEntityVisibilityConfig_Section] FOREIGN KEY([SectionId])
REFERENCES [rpt].[ReportingSections] ([SectionId])
GO
ALTER TABLE [rpt].[ReportingEntityVisibilityConfig] CHECK CONSTRAINT [FK_ReportingEntityVisibilityConfig_Section]
GO
ALTER TABLE [rpt].[ReportingFields]  WITH CHECK ADD  CONSTRAINT [FK_ReportingFields_ReportingEntities] FOREIGN KEY([EntityId])
REFERENCES [rpt].[ReportingEntities] ([EntityId])
GO
ALTER TABLE [rpt].[ReportingFields] CHECK CONSTRAINT [FK_ReportingFields_ReportingEntities]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [FK_ReportingRelationships_ChildEntity] FOREIGN KEY([ChildEntityId])
REFERENCES [rpt].[ReportingEntities] ([EntityId])
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [FK_ReportingRelationships_ChildEntity]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [FK_ReportingRelationships_ChildField] FOREIGN KEY([ChildFieldId])
REFERENCES [rpt].[ReportingFields] ([FieldId])
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [FK_ReportingRelationships_ChildField]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [FK_ReportingRelationships_ParentEntity] FOREIGN KEY([ParentEntityId])
REFERENCES [rpt].[ReportingEntities] ([EntityId])
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [FK_ReportingRelationships_ParentEntity]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [FK_ReportingRelationships_ParentField] FOREIGN KEY([ParentFieldId])
REFERENCES [rpt].[ReportingFields] ([FieldId])
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [FK_ReportingRelationships_ParentField]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [CK_ReportingRelationships_Cardinality] CHECK  (([Cardinality]='MANY_TO_MANY' OR [Cardinality]='MANY_TO_ONE' OR [Cardinality]='ONE_TO_MANY' OR [Cardinality]='ONE_TO_ONE'))
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [CK_ReportingRelationships_Cardinality]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [CK_ReportingRelationships_Direction] CHECK  (([Direction]='BOTH' OR [Direction]='SINGLE'))
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [CK_ReportingRelationships_Direction]
GO
ALTER TABLE [rpt].[ReportingRelationships]  WITH CHECK ADD  CONSTRAINT [CK_ReportingRelationships_JoinType] CHECK  (([JoinType]='FULL' OR [JoinType]='RIGHT' OR [JoinType]='LEFT' OR [JoinType]='INNER'))
GO
ALTER TABLE [rpt].[ReportingRelationships] CHECK CONSTRAINT [CK_ReportingRelationships_JoinType]
GO
USE [master]
GO
